body {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  
  
}

button{
  width: 6rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}

.interface{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  min-height: 20rem;
  max-height: auto;
  background-color: white;
  border-radius: 1rem;
  word-break: break-word;
}

.joke-content{
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
}

