<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="singlejoke.css" />
    <title>JokeAPI</title>
  </head>
  <body>
    <main>
      <section class="interface">
        <h1>Get a joke</h1>
        <div class="app">
          <h1 class="joke-title">Here you go</h1>
          <div class="joke">
            <p class="joke-content"><%= newJoke %></p>
          </div>
          <a href="/index.html"><button>Go again</button></a>
        </div>
      </section>
    </main>
    <script src="singlejoke.js"></script>
  </body>
</html>
